
#body{
    background-color: #131315;
}
#formDoctor, #formPaciente{
    width:350px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color: rgb(80, 81, 78 ); 
}
table {
    padding: 200px;
    background-color: rgb(39, 40, 39 );
    width: 90%;
    border: 2px solid white;
 }
 th, tr {
    width: 25%;
    text-align: left;
    border: 4px solid white;
    border-spacing: 0;
 }
 